# Todos los files que sean realcionados a la literatura del curso
Lit/
# Todos los files de datos usados para el Examen 02
1. Documentos Recibidos/
2. Datos/
4. Analisis/
# Todos los files que sean relacionados a un LaTeX file
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.gz
*.zip
*.toc
# Ignoramos files pesados
DeepLearning_Bourbaki-main.zip
# Ignora el entorno usado 
.venv/
.vscode/
# Ignoramos proyectos y carpetas no deseadas
01 Redes neuronales densas y auto-encoders/
01 Reto/
GSB_MOD_DeepLearning_Bourbaki/
GSB_DeepLearning_Bourbaki-main_v202505/

# Dentro de flood Forecasting ignoramos los siguientes files
Sobre los datos.pptx

# Ignoramos mis utils
utils.py
__pycache__